<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/materialize.min.css'>
</head>
<% if(preguntas[0].saga == "sdla") { %>
<body style="background-image: url('../images/bg.jpg')">
<% } else if(preguntas[0].saga == "hp") { %>
<body style="background-image: url('../images/bg.jpg')">
<body style="background-image: url('../images/bg.jpg')">
<% } else if(preguntas[0].saga == "hp") { %>
<body style="background-image: url('../images/hp.jpg')">
<% } else { %>
<body style="background-image: url('../images/bg.jpg')">
<% } %>
<h2 id="nPregunta">Pregunta 1</h2>
<div class="container">
    <div id="pregunta1">
        <div class="centro">
            <iframe id="video1" width="350" height="332" src="<%= preguntas[0].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta2" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video2" width="350" height="332" src="<%= preguntas[1].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta3" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video3" width="350" height="332" src="<%= preguntas[2].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta4" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video4" width="350" height="332" src="<%= preguntas[3].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta5" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video5" width="350" height="332" src="<%= preguntas[4].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta6" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video6" width="350" height="332" src="<%= preguntas[5].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta7" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video7" width="350" height="332" src="<%= preguntas[6].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta8" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video8" width="350" height="332" src="<%= preguntas[7].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta9" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video9"width="350" height="332" src="<%= preguntas[8].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <div id="pregunta10" style="visibility: hidden">
        <div class="centro" >
            <iframe id="video10" width="350" height="332" src="<%= preguntas[9].track %>" frameborder="0"></iframe>
        </div>
        <div class="centroTexto" style="width: 145px; height: 332px;">
            <p style="margin-top: 305px ">Click en esta esquina</p>
        </div>
        <div class="centro" style="background-color: black; width: 350px; height: 300px;"></div>
        <div class="centro2" style="background-color: black; width: 180px; height: 332px;" ></div>
    </div>
    <% if(preguntas[0].saga == "hp") {%>
    <div class="row" style="margin-top: 450px">
        <div class="col s12">
            <ul class="tabs z-depth-5">
                <li class="tab col s1"><a id="hp1" href="#">HP 1</a></li>
                <li class="tab col s1"><a id="hp2" href="#">HP 2</a></li>
                <li class="tab col s2"><a id="hp3" href="#">HP 3</a></li>
                <li class="tab col s2"><a id="hp4" href="#">HP 4</a></li>
                <li class="tab col s2"><a id="hp5" href="#">HP 5</a></li>
                <li class="tab col s2"><a id="hp6" href="#">HP 6</a></li>
                <li class="tab col s2"><a id="hp7" href="#">HP 7</a></li>
            </ul>
        </div>
    </div>
    <% } %>
    <% if(preguntas[0].saga == "sdla") {%>
    <div class="row" style="margin-top: 450px">
        <div class="col s12">
            <ul class="tabs z-depth-5">
                <li class="tab col s4"><a id="sdla1" href="#">La comunidad del anillo</a></li>
                <li class="tab col s4"><a id="sdla2" href="#">Las dos torres</a></li>
                <li class="tab col s4"><a id="sdla3" href="#">El retorno del rey</a></li>
            </ul>
        </div>
    </div>
    <% } %>
    <% if(preguntas[0].saga == "th") {%>
    <div class="row" style="margin-top: 450px">
        <div class="col s12">
            <ul class="tabs z-depth-5">
                <li class="tab col s4"><a id="th1" href="#">En construcción</a></li>
                <li class="tab col s4"><a id="th2" href="#">Vuelve para atrás</a></li>
                <li class="tab col s4"><a id="th3" href="#">Eso es todo</a></li>
            </ul>
        </div>
    </div>
    <% } %>
    <button id="next" style="background-color: cornflowerblue;" class="btn waves-effect waves-purple" type="submit">Siguiente</button>

    <form action="/cuestionario" method="post">
        <button id="finish" style="background-color: cornflowerblue; visibility: hidden" class="btn waves-effect waves-purple" type="submit">Finalizar</button>
    </form>

    <p id="res" style="visibility: hidden"></p>
    <p id="resC" style="visibility: hidden"><%= preguntas[0].res %><%= preguntas[1].res %><%= preguntas[2].res %><%= preguntas[3].res %><%= preguntas[4].res %><%= preguntas[5].res %><%= preguntas[6].res %><%= preguntas[7].res %><%= preguntas[8].res %><%= preguntas[9].res %></p>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="/javascripts/cuestionario.js"></script>
</body>
</html>

